[submodule "42_cursus_private"]
	path = 42_cursus_private
	url = https://github.com/nawhes/42_cursus_private
[submodule "libft"]
	path = 02_minirt/libft
	url = https://github.com/nawhes/libft
[submodule "minilibx_linux"]
	path = 02_minirt/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux
